@use './mixin' as m;

.loader{
  @include m.posLT(absolute, 50%, 50%, -50%, -50%);
  width: min(90%, 500px);
  height: min(80%, 700px);
  transition: opacity 1s;
  &.fade-out{
    opacity: 0;
  }

  .main-bg {
    @include m.posLT(absolute, 50%, 2%, -50%, 0);
    width: 110%;
    height: 103%;
  }
  h6{
    z-index: 1;
    position: relative;
    img {
      width: 100%;
    }
  }
  figure{
    @include m.posLT(absolute,50%,50%,-50%,-50%);
    width: min(60%, 300px);
    mix-blend-mode: multiply;
    .spinner{
      margin: 0 auto;
      width: 30%;
    }
    .pencil{
      width: 100%;
    }
  }
}

.list-loader, .detail-loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  img{
    width: 50%;
    @include m.posLT(absolute,50%,50%,-50%,-50%);
  }
}