@use './mixin' as m;

.section-detail{
  form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .thumbnail{
      width: 70%;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 10px;
      box-sizing: border-box;
      padding: 5px;
      background: var(--beige);
      box-shadow: 0 0 10px rgba(#000, 0.3);
    }
    .date-wrap{
      @media #{m.$minSm}{
        width: 50%;
        padding-right: 5px; 
      }
      @media #{m.$maxSm}{
        width: 100%;
      }
      box-sizing: border-box;
      @include m.inputWrap('icons/icon-calendar.png', false);
    }
    .time-wrap{
      @media #{m.$minSm}{
        width: 50%;
        padding-right: 5px; 
      }
      @media #{m.$maxSm}{
        width: 100%;
      }
      box-sizing: border-box;
      @include m.inputWrap('icons/icon-clock.png', false);
    }
    .title-wrap{
      width: 100%;
      @include m.inputWrap('icons/icon-pencil.png', true);
    }
    .desc-wrap{
      width: 100%;
      @include m.inputWrap('icons/icon-balloon.png', true);
    }
    .check-wrap{
      width: 100%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      input:checked + label img{
        &.img-check{
          display: none;
        }
        &.img-checked{
          display: inline-block;
        }
      }
      label{
        cursor: pointer;
        img{
          display: inline-block;
          width: 30px;
          vertical-align: top;
          &.img-checked{
            display: none;
          }
        }
      }
    }
    .photo-wrap{
      width: 100%;
      @include m.inputWrap('icons/icon-photo.png', true);
    }
  } //form


}