@use './mixin' as m;

.section-signin{
  form{
    width: 100%;
    .email-wrap{
      @include m.inputWrap('icons/icon-email.png',true);
    }
    .password-wrap{
      @include m.inputWrap('icons/icon-key.png',true);
    }
    .btn-wrap{
      @include m.inputWrap('icons/icon-email.png',false);
      
    }
    .remember-wrap{
      padding: 10px 0;
      border-top: 2px dotted var(--green);
      input:checked + label{
        img:first-child{display: none;}
        img:last-child{display: block;}
      }
      label{
        cursor: pointer;
        img{
          height: 35px;
          margin: 0 auto;
          &:last-child{
            display: none;
          }
        }
      }
    } //remember-wrap
    .password-email-wrap{
      text-align: center;
      button{
        padding: 7px 15px;
        background: var(--beige);
        border: 1px dotted var(--orange);
        &:hover{background: #FFF;}
        &:active{
          animation: rubberBand 0.3s;
        }
        img{
          height: 30px;
        }
      }
    }
  }
}