@use "./mixin" as m;

.comp-daily {
  .section-inner {
    padding-top: 0 !important;
    ul {
      li {
        padding: 5px;
        border-bottom: 1px solid rgba(#8ed1f1, 0.5);
        a {
          position: relative;
          display: block;
          padding: 10px;
          transition: all 0.5s;
          &.active{
            background: var(--sky);
            color: #FFF;
            .fa-arrow-down {
              transform: translateY(-50%) rotate(180deg);
            }
          }
          .fa-arrow-down {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3em;
            transition: all 0.5s;
          }
          .date {
            margin-bottom: 10px;
            font-weight: 500;
            span {
              margin-right: 5px;
              &.desc {
                font-style: italic;
              }
            }
          }
          .info {
            img {
              display: inline-block;
              margin-right: 15px;
              width: 50px;
              vertical-align: middle;
            }
            span {
              margin-right: 15px;
              i {
                margin-right: 5px;
              }
              em {
                font-weight: 500;
              }
            }
          }
        }
        .detail {
          display: none;
          padding: 10px;
          color: #FFF;
          background: rgba(#17354e, 0.6);
          p{
            padding: 10px 0;
            border-bottom: 1px solid #FFF;
            &:last-child{
              border: none;
            }
            span{
              margin-right: 15px;
              b{
                margin: 0 5px;
              }
              em{
                font-weight: 600;
                small{
                  font-size: 0.85em;
                }
              }
            }
          } //p
        }
      } //li
    } //ul
  }
}
